// ------------------------------------- //
//        NAVIGATION                     //
// ------------------------------------- //

%nav__item--link {
  text-decoration: none;
  color: $grey-dark;
  display: block;
  padding: em(15px);
  text-align: center;
  &:hover {
    @extend %border-radius;
    color: $btn-text-color;
    background: $btn-nav-color;
  }
} 