// ------------------------------------- //
//              BASE STYLES              //
// ------------------------------------- //


// ---------------- * ------------------ //
* {
  box-sizing: border-box;
}

// ------------- BODY ------------- //

.grid__row {
    @include lg {
        max-width: 1400px;
        margin: auto;
    }
}

// ------------- UL ELEMENTS ----------- //

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}


// ------------ P ELEMENTS ------------- //

p {
  font-size: em(18px);
  line-height: em(24px);
  font-weight: $weight-font-regular;
}